5_CreateWebAppUsingServicesDeveloped/Project 5/Project 5/Service References/CurrencyConverterService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CurrencyConversion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toCurrency" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrencyConversionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrencyConversionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCurrencyCodesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decryption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cipher" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decryptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="decryptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>